@font-face {
    font-display: swap;
    font-style:
        normal;
    src: url("/fonts/GeistMonoVF.woff");
    font-family: "Geist";
    font-weight: 500;

}

@font-face {
    font-display: swap;
    font-style:
        normal;
    src: url("/fonts/GeistVF.woff");
    font-family: "Geist";
    font-weight: 700;
}
